body {
  font-family: Arial, sans-serif;
}

.main-content {
  display: none;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  box-shadow: inset 0 0 0 0 #000000;
  color: #000000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  box-shadow: inset 200px 0 0 0 #000000;
  color: white;
}

.cart {
  width: 80%;
  margin: 0 auto;
}

.cart-item {
  display: flex;
  margin-bottom: 40px;
}

.item-image {
  width: 200px;
  height: 200px;
  margin-right: 40px;
}

.item-details {
  flex-grow: 1;
}

#cart-total {
  text-align: right;
  font-size: 1.5em;
  margin-top: 20px;
}

button {
  background-color: #f0c14b;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
}
button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}
