body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

main {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

button {
  display: inline-block;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #555;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  width: calc(100% - 22px); /* Adjust width to account for padding */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #eee;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.3s ease;
}

ul li:hover {
  background: #ddd;
}

#mouseover {
  padding: 20px;
  background-color: darksalmon;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#mouseover-title {
  margin: 0;
  color: white;
}
